<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <!--<div>-->
        <!--<h1>注册</h1>-->
        <!--<form method="POST" action="/userControl/sign/" >-->
            <!--<label> 用户名:</label>-->
            <!--<input type="text" name="username"/>-->
            <!--<br/>-->
            <!--<label>密码:</label>-->
            <!--<input type="password" name="password" />-->
            <!--<br/>-->
            <!--<input type="submit" value="注册"/>-->

        <!--</form>-->
    <!--</div>-->
<!--</body>-->
<!--</html>-->

{% extends "base.html" %}
{% block title %} 数据散点图 {% endblock %}
{%load staticfiles%}


    {% block js %}

    {% endblock %}


    {% block content %}
    {% endblock %}
